<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <%- include('../head'); %>
  <link href="/css/datatables.min.css" rel="stylesheet">
  <%- include('../style'); %>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/pages/panel.css" />
</head>

<body>
  <%- include('../preloader'); %>
  <div class="parent-wrapper">
    <div class="panel-nav-wrapper">
      <div class="panel-nav-container">
        <%- include('./nav'); %>
      </div>
    </div>
    <div class="panel-content-wrapper">
      <%- body %>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large panel-nav-toggler blue">
        <i class="large material-icons">menu</i>
      </a>
    </div>
    <div class="popup-wrapper">
      <div class="popup-overlay"></div>
      <div class="popup">
        <div class="popup-header">
          <div class="popup-title"></div>
          <div class="popup-close">
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="popup-body">
        </div>
      </div>
    </div>
    <div class="popup-wrapper float">
      <div class="popup-overlay"></div>
      <div class="popup">
        <div class="popup-header">
          <div class="popup-title"></div>
          <div class="popup-close">
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="popup-body">
        </div>
      </div>
    </div>
  </div>
  <!--JavaScript at end of body for optimized loading-->
  <%- include('../script'); %>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="/js/datatables.min.js"></script>
  <script src="/js/socket.io.min.js"></script>
  <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
  <script>
    const dt = new DataTable('.init-datatables', {
      responsive: true
    });
    const menuContainer = $('.menu-container');
    const page = '<%= page %>';
    const baseUrl = '<%= getBaseUrl() %>';
  </script>
  <script src="/js/pages/panel/main.js"></script>
  <script src="/js/pages/panel/<%= page %>.js"></script>
</body>

</html>